In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [3]:
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
dataset = dataset.drop(['RowNumber', 'CustomerId', 'Surname'], axis = 1)

In [6]:
# encode categorical variable
label_encoder_gender = LabelEncoder()
dataset['Gender'] = label_encoder_gender.fit_transform(dataset['Gender'])

In [7]:
# One Hot Encoder for Geography
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoder = onehot_encoder_geo.fit_transform(dataset[['Geography']]).toarray()
geo_encoder_df = pd.DataFrame(geo_encoder, columns = onehot_encoder_geo.get_feature_names_out(['Geography']))

In [8]:
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [10]:
dataset = pd.concat([dataset.drop('Geography', axis = 1), geo_encoder_df], axis = 1)
dataset

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [12]:
# split dataset into dependent and independent datasets
X = dataset.drop('EstimatedSalary', axis = 1)
y =dataset['EstimatedSalary']

In [13]:
## load the encoder and scaler
with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender = pickle.load(file)

with open('one_hot_encoder_geo.pkl','rb') as file:
    one_hot_encoder_geo = pickle.load(file) 

with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)

In [14]:
# split train test dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [15]:
# scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [16]:
## ANN Regression problem statement
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [17]:
model = Sequential(
    [
        Dense(64, activation = 'relu', input_shape = (X_train.shape[1],)), # first hidden layer connected to input layer
        Dense(32, activation  ='relu'), # Hidden layer 2
        Dense(1) # output layer
    ]
)

In [18]:
model.compile(optimizer = 'adam', loss = 'mean_absolute_error', metrics = ['mae'])

In [19]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [20]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

log_dir = 'regressionlogs/fit' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir = log_dir, histogram_freq = 1)
early_stopping_callback = EarlyStopping(monitor = 'val_loss', patience = 10, restore_best_weights = True)

In [21]:
history = model.fit(X_train, y_train, validation_data = (X_test, y_test), epochs = 100, callbacks = [tensorflow_callback, early_stopping_callback])

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 100371.8125 - mae: 100371.8125 - val_loss: 98496.2188 - val_mae: 98496.2188
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 99557.0000 - mae: 99557.0000 - val_loss: 96845.8125 - val_mae: 96845.8125
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 96700.6406 - mae: 96700.6406 - val_loss: 92651.1406 - val_mae: 92651.1406
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 91135.9766 - mae: 91135.9766 - val_loss: 85749.4062 - val_mae: 85749.4062
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 83125.9844 - mae: 83125.9844 - val_loss: 76935.6094 - val_mae: 76935.6094
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 73834.2734 - mae: 73834.2734 - val_loss: 67939.6484 - val_mae: 67939.6484
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 65006.6484 - mae: 65006.6484 - val_loss: 60399.1445 - val_mae: 60399.1445
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 58260.8984 - mae: 58260.8984 - val_loss: 55325.8398 - val_mae: 55325.8398
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 54081.7734 - mae: 54081.7734 - val_loss: 52564.1016 - val_mae: 52564.1016
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 51830.1797 - mae: 51830.1797 - val_loss: 51426.0859 - val_mae: 51426.0859
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 50913.2891 - mae: 50913.2891 - val_loss: 51018.0898 - val_mae: 51018.0898
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 50537.3125 - mae: 50537.3125 - val_loss: 50864.9375 - val_mae: 50864.9375
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 50361.7695 - mae: 50361.7695 - val_loss: 50775.9453 - val_mae: 50775.9453
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 50255.7148 - mae: 50255.7148 - val_loss: 50709.1172 - val_mae: 50709.1172
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 50177.0039 - mae: 50177.0039 - val_loss: 50658.1875 - val_mae: 50658.1875
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 50120.2383 - mae: 50120.2383 - val_loss: 50620.6836 - val_mae: 50620.6836
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 50073.1484 - mae: 50073.1484 - val_loss: 50584.3320 - val_mae: 50584.3320
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 50030.4531 - mae: 50030.4531 - val_loss: 50555.3789 - val_mae: 50555.3789
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 49992.9375 - mae: 49992.9375 - val_loss: 50520.4219 - val_mae: 50520.4219
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 49959.0273 - mae: 49959.0273 - val_loss: 50485.5352 - val_mae: 50485.5352
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 49926.6016 - mae: 49926.6016 - val_loss: 50463.0039 - val_mae: 50463.0039
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 49900.2305 - mae: 49900.2305 - val_loss: 50440.1055 - val_mae: 50440.1055
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 49873.6523 - mae: 49873.6523 - val_loss: 50416.9492 - val_mae: 50416.9492
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 49850.3867 - mae: 49850.3867 - val_loss: 50400.9258 - val_mae: 50400.9258
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 49829.8789 - mae: 49829.8789 - val_loss: 50384.8398 - val_mae: 50384.8398
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 49807.3008 - mae: 49807.3008 - val_loss: 50373.0586 - val_mae: 50373.0586
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 49788.3672 - mae: 49788.3672 - val_loss: 50348.5625 - val_mae: 50348.5625
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 49768.7969 - mae: 49768.7969 - val_loss: 50340.2461 - val_mae: 50340.2461
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 49755.2461 - mae: 49755.2461 - val_loss: 50326.9609 - val_mae: 50326.9609
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 49737.8281 - mae: 49737.8281 - val_loss: 50309.7383 - val_mae: 50309.7383
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 49721.5547 - mae: 49721.5547 - val_loss: 50289.4492 - val_mae: 50289.4492
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 49709.0391 - mae: 49709.0391 - val_loss: 50293.2812 - val_mae: 50293.2812
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 49697.7734 - mae: 49697.7734 - val_loss: 50270.8750 - val_mae: 50270.8750
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 49685.3477 - mae: 49685.3477 - val_loss: 50271.4141 - val_mae: 50271.4141
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 49669.9883 - mae: 49669.9883 - val_loss: 50273.2617 - val_mae: 50273.2617
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 49659.8203 - mae: 49659.8203 - val_loss: 50263.4414 - val_mae: 50263.4414
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 49644.3711 - mae: 49644.3711 - val_loss: 50275.3945 - val_mae: 50275.3945
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 49634.5938 - mae: 49634.5938 - val_loss: 50261.3398 - val_mae: 50261.3398
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 49622.0859 - mae: 49622.0859 - val_loss: 50243.7461 - val_mae: 50243.7461
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 49617.2070 - mae: 49617.2070 - val_loss: 50233.9727 - val_mae: 50233.9727
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 49604.9609 - mae: 49604.9609 - val_loss: 50237.7148 - val_mae: 50237.7148
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 49595.9102 - mae: 49595.9102 - val_loss: 50251.6953 - val_mae: 50251.6953
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 49586.7891 - mae: 49586.7891 - val_loss: 50241.5547 - val_mae: 50241.5547
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 49576.5508 - mae: 49576.5508 - val_loss: 50253.4727 - val_mae: 50253.4727
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 49570.9336 - mae: 49570.9336 - val_loss: 50247.1172 - val_mae: 50247.1172
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 49565.6484 - mae: 49565.6484 - val_loss: 50238.4961 - val_mae: 50238.4961
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 49557.2227 - mae: 49557.2227 - val_loss: 50238.4922 - val_mae: 50238.4922
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 49550.9258 - mae: 49550.9258 - val_loss: 50233.1172 - val_mae: 50233.1172
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 49541.8984 - mae: 49541.8984 - val_loss: 50248.6211 - val_mae: 50248.6211
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 49532.5117 - mae: 49532.5117 - val_loss: 50246.1172 - val_mae: 50246.1172
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 49529.5273 - mae: 49529.5273 - val_loss: 50241.4648 - val_mae: 50241.4648
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 49518.4219 - mae: 49518.4219 - val_loss: 50246.6016 - val_mae: 50246.6016
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 49511.0938 - mae: 49511.0938 - val_loss: 50237.5195 - val_mae: 50237.5195
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 49507.6250 - mae: 49507.6250 - val_loss: 50241.2227 - val_mae: 50241.2227
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 49502.3906 - mae: 49502.3906 - val_loss: 50237.5938 - val_mae: 50237.5938
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 49495.2578 - mae: 49495.2578 - val_loss: 50248.2695 - val_mae: 50248.2695
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 49491.4062 - mae: 49491.4062 - val_loss: 50239.2695 - val_mae: 50239.2695
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 49484.4297 - mae: 49484.4297 - val_loss: 50248.3867 - val_mae: 50248.3867

In [22]:
%load_ext tensorboard

In [25]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 38535), started 0:00:59 ago. (Use '!kill 38535' to kill it.)

In [26]:
# Evaluate model on the test data
test_loss, test_mae = model.evaluate(X_test, y_test)
test_mae

63/63 [==============================] - 0s 1ms/step - loss: 50233.1172 - mae: 50233.1172

50233.1171875

In [27]:
model.save('regression_model.h5')

/Users/siddharthgehlot/anaconda3/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(